<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Cardices</title>
    <link type="text/css" rel="stylesheet" href="css/style.css" inline />
</head> 
<body>
  <div id="c-diceList"></div>
  <button type="button" id="roll-button">Roll Dice</button>
  <div id="mapWrapper">
      <canvas id="map"></canvas>
  </div>
  <p>Create you hero: pick up 2 classes</p>
  <div id="avatarChoiceList1" class="avatarList" data-type="w"></div>
  <div id="avatarChoiceList2" class="avatarList" data-type="w"></div>
  You are:
  <div id="myAvatar"></div>
  <p id="myAvatarName"></p>
  All cards
  <div id="allCardList" class="c-cardList"></div>

  <div style="display: none">
  My cards
  <div id="myCardList" class="c-cardList"></div>
  My deck
  <div id="myDeckList" class="c-cardList"></div>
  Avatars
  <div id="avatarList"></div>
  </div>
  poison: 🤢
  feu: 🥵🔥
  glace: 🥶❄
  proection: 🛡
stun: 😵🥴
monstres: ☠💀👿😈👹
impact de dégats: 💢💥
livre: 📖
pages: 📜📃
  <script src="scripts/game.js" inline></script>
</body>
</html>