<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>Cardices</title>
  <link type="text/css" rel="stylesheet" href="css/style.css" inline />
</head>

<body>
  <div class="l-screen" id="screen-menu">
    <button class="js-screen-link" data-screen="screen-game" id="continueButton">Continue game</button>
    <button class="js-screen-link" data-screen="screen-class-choice">New game</button>
    
    All cards
    <div id="allCardList" class="c-cardList"></div>
    <div id="myCardList" class="c-cardList" style="display: none"></div>
    
    poison: 🤢
    feu: 🥵🔥
    glace: 🥶❄
    proection: 🛡
    stun: 😵🥴
    monstres: ☠💀👿😈👹
    impact de dégats: 💢💥
    heal: ➕
    livre: 📖
    pages: 📜📃
  </div>
  <div class="l-screen" id="screen-class-choice">
    <p>Create you hero: pick up 2 classes</p>
    <div id="avatarChoiceList" class="avatarList" data-type0="w" data-type1="w"></div>
    <p>You are:</p>
    <div id="myAvatar"></div>
    <p id="myAvatarName"></p>
    <button class="js-screen-link" data-screen="screen-map">Start game</button>
  </div>
  <div class="l-screen" id="screen-map">
    <button class="js-screen-link" data-screen="screen-game">Start game</button>
    <div id="mapWrapper">
      <canvas id="map"></canvas>
    </div>
  </div>
  <div class="l-screen -active" id="screen-game">
    <div class="c-lifeBar__wrapper">
      <div class="c-lifeBar" id="lifeBar-1"><p></p><p></p><p></p></div>
      <div class="c-lifeBar" id="lifeBar-2"><p></p><p></p><p></p></div>
    </div>
    <div id="myDeckList" class="c-cardList"></div>
    <div id="playerAvatar"></div>
    <div id="opponentAvatar"></div>
    <div id="c-diceList"></div>
    <button type="button" id="end-turn-button">End turn</button>
  </div>
  <script src="scripts/game.js" inline></script>
</body>

</html>