<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Cardices</title>
    <link type="text/css" rel="stylesheet" href="css/style.css" inline />
</head> 
<body>
  My cards
  <div id="myCardList" class="c-cardList"></div>
  My deck
  <div id="myDeckList" class="c-cardList"></div>
  Avatars
  <div id="avatarList"></div>
  All cards
  <div id="allCardList" class="c-cardList"></div>
  Dices
  <div class="c-diceList"></div>
  <button type="button" id="roll-button">Roll Dice</button>
  <script src="scripts/game.js" inline></script>
</body>
</html>