$card-rarity-size: 14px;

.c-card {
    position: relative;
}

.c-card__content {
    width: $card-width;
    height: $card-height;
    border-radius: 10px;
    text-align: center;
    border: 2px solid $card-border;
    backface-visibility: hidden;
    perspective-origin: 50% 50%;
    transform-style: preserve-3d;
    transform-origin: center;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        background: rgba(255, 255, 255, 0.3);   
        border-radius: 5px;
        border: 1px solid $card-border;
    }

    &.-w { // warrior
        background: $warrior-color;
    }
    &.-m { // mage
        background: $mage-color;
    }
    &.-t { // thief
        background: $thief-color;
    }
    &.-a { // assassin
        background: $assassin-color;
    }
    &.-p { // protector
        background: $protector-color;
    }
    &.-h { // heal
        background: $heal-color;
    }
    &.-mw { // TODO: faire des classes genre wm pour warrior/mage
        background: linear-gradient(to bottom, $mage-color 0%,$warrior-color 100%);    
    }
    &.-tw {
        background: linear-gradient(to bottom, $thief-color 0%,$warrior-color 100%);    
    }
    &.-aw {
        background: linear-gradient(to bottom, $assassin-color 0%,$warrior-color 100%);    
    }
    &.-pw {
        background: linear-gradient(to bottom, $protector-color 0%,$warrior-color 100%);    
    }
    &.-hw {
        background: linear-gradient(to bottom, $heal-color 0%,$warrior-color 100%);    
    }
    &.-mt {
        background: linear-gradient(to bottom, $mage-color 0%,$thief-color 100%);    
    }
    &.-mp {
        background: linear-gradient(to bottom, $mage-color 0%,$protector-color 100%);    
    }
    &.-hm {
        background: linear-gradient(to bottom, $heal-color 0%,$mage-color 100%);    
    }
    &.-at {
        background: linear-gradient(to bottom, $assassin-color 0%,$thief-color 100%);    
    }
    &.-pt {
        background: linear-gradient(to bottom, $protector-color 0%,$thief-color 100%);    
    }
    &.-ht {
        background: linear-gradient(to bottom, $heal-color 0%,$thief-color 100%);    
    }
    &.-ah {
        background: linear-gradient(to bottom, $assassin-color 0%,$heal-color 100%);    
    }
    &.-hp {
        background: linear-gradient(to bottom, $heal-color 0%,$protector-color 100%);    
    }
}

.c-card__rarity {
    position: absolute;
    display: block;
    bottom: -#{$card-rarity-size / 2};
    left: calc(50% - #{$card-rarity-size / 2});
    width: $card-rarity-size;
    height: $card-rarity-size;
    transform: rotate(-45deg) skew(15deg, 15deg);
    border: 2px solid $card-border;
    &.-rarity1 {
        background: #38e;
    }   
    &.-rarity2 {
        background: #e4f;
    }   
    &.-rarity3 {
        background: #fc1;
    }   
}

.c-card__effect {
    position: absolute;
    top: 130px;
    left: 20px;
    right: 20px;
    font-size: 14px;   
    font-variant: small-caps;
}

.c-card__back {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $card-width;
    height: $card-height;
    border-radius: 10px;
    border: 1px solid $card-border;
    background-color: #4de;
    color: #2bc;
    overflow: hidden;
    font: bold 150px sans-serif;
    &:before {
        content: '4';
        position: absolute;
        top: -55px;
        left: -20px;
    }
    &:after {
        content: '4';
        position: absolute;
        bottom: -35px;
        right: -10px;
    }
}

.c-card__class {
    position: absolute;
    left: 0;
    right: 0;
    top: -1px;
    font-size: 10px;
    font-variant: small-caps;
}

.c-card__diceList {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;   
}

.c-card__dice {
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    line-height: 50px;
    border: 2px dashed #fff;
    width: 50px;
    border-radius: 4px;
    margin: 0 5px;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.4);
        
    .-bonus {
        opacity: 0.6;
    }
}