.c-cardList {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 20px;
    .c-card {
        transition: transform 0.3s ease;
        perspective: 1000px;

        &:hover {
            transform: scale(1.3);
            z-index: 2;
        }
    }
}

#myCardList {
    .c-card {
        cursor: pointer;

        &.-disabled {
            opacity: 0.5;
            cursor: notAllowed;
        }
    }
}

#myDeck {
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: $card-width;
    height: $card-height;

    .c-card {
        position: absolute;
        top: 0;
        left: 0;
    }
}

#myHand {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 200px;
    left: calc(50% - #{($card-width * 5 + 10px * 4) / 2});
    width: $card-width * 5 + 10px * 4;
    height: $card-height;

    .c-card {
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
}