$die-size: 70px;

.c-die {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: $die-size;
    height: $die-size;
    list-style-type: none;
    transform-style: preserve-3d;
    transition: transform 1.5s ease-out;
    margin: 0 20px;

    &.-odd-roll {
        transition: transform 1.25s ease-out;
    }
}

.c-die__face {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    grid-template-areas:
        "a b c"
        "d e f"
        "g h i";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100%;
    padding: $die-size / 8;
    width: 100%;
    background: #fff;
    border: 1px solid #633;
}

.c-die__dot {
    display: block;
    position: relative;
    width: $die-size / 5;
    height: $die-size / 5;
    align-self: center;
    justify-self: center;
    background-color: #633;

    &:before {
        content: "";
        width: $die-size / 5;
        height: 0;
        position: absolute;
        top: 0;
        left: 0;
        border-bottom: #{$die-size / 17.12} solid #633;
        border-left: #{$die-size / 17.12} solid #fff;
        border-right: #{$die-size / 17.12} solid #fff;
      }
      &:after {
        content: "";
        width: $die-size / 5;
        height: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        border-top: #{$die-size / 17.12} solid #633;
        border-left: #{$die-size / 17.12} solid #fff;
        border-right: #{$die-size / 17.12} solid #fff;
      }
}
.c-die__effect {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
}

[data-roll="1"] {
    transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
}
[data-roll="2"] {
    transform: rotateX(450deg) rotateY(720deg) rotateZ(360deg);
}
[data-roll="3"] {
    transform: rotateX(360deg) rotateY(630deg) rotateZ(360deg);
}
[data-roll="4"] {
    transform: rotateX(360deg) rotateY(810deg) rotateZ(360deg);
}
[data-roll="5"] {
    transform: rotateX(270deg) rotateY(720deg) rotateZ(360deg);
}
[data-roll="6"] {
    transform: rotateX(360deg) rotateY(900deg) rotateZ(360deg);
}

.-odd-roll {
    &[data-roll="1"] {
        transform: rotateX(-360deg) rotateY(-720deg) rotateZ(-360deg);
    }
    &[data-roll="2"] {
        transform: rotateX(-270deg) rotateY(-720deg) rotateZ(-360deg);
    }
    &[data-roll="3"] {
        transform: rotateX(-360deg) rotateY(-810deg) rotateZ(-360deg);
    }
    &[data-roll="4"] {
        transform: rotateX(-360deg) rotateY(-630deg) rotateZ(-360deg);
    }
    &[data-roll="5"] {
        transform: rotateX(-450deg) rotateY(-720deg) rotateZ(-360deg);
    }
    &[data-roll="6"] {
        transform: rotateX(-360deg) rotateY(-900deg) rotateZ(-360deg);
    }
}

[data-side="1"] {
    transform: rotate3d(0, 0, 0, 90deg) translateZ($die-size / 2);
}
[data-side="2"] {
    transform: rotate3d(-1, 0, 0, 90deg) translateZ($die-size / 2);
}
[data-side="3"] {
    transform: rotate3d(0, 1, 0, 90deg) translateZ($die-size / 2);
}
[data-side="4"] {
    transform: rotate3d(0, -1, 0, 90deg) translateZ($die-size / 2);
}
[data-side="5"] {
    transform: rotate3d(1, 0, 0, 90deg) translateZ($die-size / 2);
}
[data-side="6"] {
    transform: rotate3d(1, 0, 0, 180deg) translateZ($die-size / 2);
}

.c-die__dot:last-child {
    grid-area: i;
}

[data-side="4"] .c-die__dot:nth-child(2),
[data-side="5"] .c-die__dot:nth-child(2),
[data-side="6"] .c-die__dot:nth-child(2) {
    grid-area: c;
}
[data-side="6"] .c-die__dot:nth-child(3) {
    grid-area: d;
}
[data-side="1"] .c-die__dot,
[data-side="3"] .c-die__dot:nth-child(2),
[data-side="5"] .c-die__dot:nth-child(3) {
    grid-area: e;
}
[data-side="6"] .c-die__dot:nth-child(4) {
    grid-area: f;
}
[data-side="4"] .c-die__dot:nth-child(3),
[data-side="5"] .c-die__dot:nth-child(4),
[data-side="6"] .c-die__dot:nth-child(5) {
    grid-area: g;
}
