#playerAvatar {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#opponentAvatar {
    position: absolute;
    top: 10px + $user-bar-height;
    right: 10px;
}

#playerAvatar,
#opponentAvatar {
    p {
        position: absolute;
        opacity: 0;
        font-size: 40px;
        transform: scale(0);
        transition: all 0.3s ease;
    
        &.-loaded {
            opacity: 1;
            transform: scale(1);
        }
    }
}
