#playerAvatar {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#opponentAvatar {
    position: absolute;
    top: 10px + $user-bar-height;
    right: 10px;
}

#playerAvatar,
#opponentAvatar {
    p {
        position: absolute;
        opacity: 0.5;
        font-size: 40px;
        white-space: nowrap;
        transform: scale(0.7);
        transition: all 0.5s ease-out;
    
        &.-loaded {
            opacity: 1;
            transform: scale(1);
        }
    }
}

#playerAvatar {
    p {
        bottom: 100%;
        left: 0;
    }
}


#opponentAvatar {
    p {
        top: 100%;
        right: 0;
    }
}
