.c-lifeBar__wrapper {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.c-lifeBar {
    position: relative;
    width: 40%;
    height: 40px;
    background: $color-grey;
    border: 1px solid $color-black;

    &:last-child {
        transform: scaleX(-1);
    }

    > * {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 0;
        background: #44c;
        transition: width 0.5s ease;
    }

    :nth-child(2) {
        background: #c44;
        transition-duration: 0.3s;
        transition-delay: 1.3s;
    }
    :last-child {
        background: #4c4;
        transition-duration: 1s;
        transition-delay: 0.5s;
    }
}