.a-title {
    position: relative;
    background: $title-background;
    box-shadow: 0px 16px 0px -8px ;
    color: #741;
    font: bold small-caps 40px serif;
    padding: 10px 60px;

    &:before,
    &:after {
        content: '';
        width: 90px;
        height: 100%;
        position: absolute;
        top: 50%;
        background: $title-background;
        box-shadow: inherit;
        z-index: -1;
    }

    &:before {
        left: -55px;
    }

    &:after {
        right: -55px;
    }
}