#c-userBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $user-bar-background;
    z-index: 2;

    ul {
        display: flex;
    }

    li {
        display: block;
        padding: 20px;
    }
}