$background-color: #000;
$user-bar-background: #333;
$card-border: #111;

$color-black: #000;
$color-grey: #666;
$color-white: #fff;

$warrior-color: #942;
$mage-color: #18b;
$thief-color: #449;
$assassin-color: #777;
$protector-color: #a80;
$heal-color: #162;

$title-background: #f92;
$title-color: #741;

$user-bar-height: 70px;
$cta-height: 50px;

$card-width: 160px;
$card-height: 220px;